GDIS_USUARIO="c057573"
GDIS_SENHA="@k3nn3nd!38124002"

GDIS_DATA="18/03/2026"
GDIS_DATA_INICIO="18/03/2026"
GDIS_DATA_FIM="18/03/2026"

GDIS_MANOBRA_BASE="239065370"

GDIS_SITUACOES_PADRAO="EB,EN"

GDIS_HTTP_TIMEOUT="20"
GDIS_PORT="8765"
