GDIS_USUARIO="c000000"
GDIS_SENHA="SUA_SENHA_AQUI"

GDIS_DATA="18/03/2026"
GDIS_DATA_INICIO="18/03/2026"
GDIS_DATA_FIM="18/03/2026"

GDIS_MANOBRA_BASE="239065370"

GDIS_HTTP_TIMEOUT="20"
GDIS_PORT="8765"
